*{
    padding: 0px;
    margin: 0px;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.container-fluid img {
    margin-right: 17px;
}
.navbar-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.carousel-caption{
    background-color: rgba(0,0,0,0.7);
    border-radius: 40px;
}
.carousel-caption h4{
    color: white;
    text-shadow: 2px 2px #222;
    font-size: 30px;
}
.carousel-caption p{
    color: white;
    text-shadow: 2px 2px #222;
    
}
/*------------------------*/
.section-title{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
.section-title h2{
    font-size: 50px;
    color: black;
    

}
.img-card img {
    width: 200px;
    transition: all 0.5s;
}
.figuras-desc {
    display: grid;
    grid-template-columns: 100%;
    margin-bottom: 20px;
    justify-items: center;
    display:flex  ;
    flex-wrap: wrap;
    width: 100%;  
    margin: auto;  
    justify-content: space-around;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
    margin-bottom: 50px;
    padding: 20px;
    padding-bottom: 30px
}
.card-body {
    text-align: center;
}
.card-body h6{
    font-size: 27px;
}
.card-body p{
    font-size: 20px;
    margin-bottom: 15px;
}
.btn-card {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 10px;
    padding: 6px;
    text-decoration: none;
    transition: background-color 0.5s;

}
/*HOOVERS DE LA CARD*/
.img-card img:hover{
    width: 220px;
    cursor: pointer;
}
.btn-card:hover {
    background-color: #a72a36;
    color: white;
} 
/*-----------------------------------*/  
.new-products {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 400px, 50px, 50px;
    gap: 10px;
    text-align: center;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 50px;
}
.jinx {
    width: auto;
    margin-left: 10px;
    height: 400px;
    justify-content: center;
    object-fit: cover;
}
.new-products-body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 400px, 50px, 50px;
    align-items: center;
    justify-content: center;
    line-height: 25px;
}
.title-new-products h2{
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 75px;
    padding-bottom: 20px;
    color: black;
}
.text-new-products p{
    padding-left: 10px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    line-height: 40px;
}
.new-products a{
    width: 70px;
    justify-content: center;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 10px;
    padding: 7px;
    padding-left: 30px;
    padding-right: 30px;
    transition: background-color 0.5s;
}
.btn-new-products{
    text-decoration: none;
}

.btn-new-products:hover {
    background-color: #83000d;
    color: white;
}

    /*VESTIMENTA*/
.vestimenta-1{
    display: grid;
    grid-template-columns: 100%;
    margin-bottom: 20px;
    justify-items: center;
    display:flex  ;
    flex-wrap: wrap;
    width: 100%;  
    margin: auto;  
    justify-content: space-around;
}
/*FOOTER*/
.container-footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #181818;
    color: white;
    justify-content: space-around;
    text-align: left;
    gap: 50px;
    padding-bottom: 20px;
}
.container-footer ul li{
    list-style: circle;
}
.container-footer .footer-title h4{
    font-size: 35px;
    padding-top: 30px;
    padding-bottom: 10px;
}
.footer-body {
    line-height: 35px;
}
.card-footer ul li{
    line-height: 35px;
}
.img-footer img{
    width: 250px;
   padding-left: 80px;
}
.sub-footer{
    display: grid;
    justify-content: center;
    border-top: 1px dashed white;
    background-color: #181818;
    color: white;
}
.sub-footer p{
    font-size: 10px;
    padding-top: 10px;
    margin-top: 10px;
}
i{margin: 30px;}
.banner-estirado img {
    margin-top: 55px;
}




/*FIGURASS*/

.banner-principal-figuras {
    background-image: url(../IMG/Teemo-banner.jpg);
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    height: 400px;
    margin-top: 80px;
    margin-bottom: 30px;
}
.valorant {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.img-card-valorant img{
    width: 550px;
    height: 550px;
    transition: all 0.5s;
}
.card-valorant {
    margin-top: 30px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
    margin-bottom: 50px;
    padding: 20px;
    padding-bottom: 30px;
    text-align: center;
}
.card-body-valorant {
    text-align: center;
}
.card-body-valorant h6{
    font-size: 27px;
}
.card-body-valorant p{
    font-size: 20px;
    margin-bottom: 15px;
}
.btn-card-figuras {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 10px;
    padding: 6px;
    transition: background-color 0.5s;
    text-decoration: none;
}
.img-card-valorant img:hover{
    width: 650px;
    height: 650px;
}
.btn-card-figuras:hover {
    background-color: #a72a36;
    color: white;
} 



/*VESTIMENTAS*/
.banner-principal-vestimenta {
    background-image: url(../IMG/banner-figuras.jpg);
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    height: 400px;
    margin-top: 80px;
    margin-bottom: 30px;
}









/*FORMULARIO*/
#main-contacto {
    background-image: url(../IMG/BACKGROUND-CON.jpg);
    height: 100vh;
    background-size: cover;
}
.form-content {
    display: grid;
    align-content: center;
    height: 100%;
    
}
.form-register{
    top: 150px;
    width: 400px;
    border: 1px solid #181818;
    padding: 30px;
    margin: auto;
    border-radius: 4px;
    color: white;
    
}
.form-register h2 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}
.controls {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
    border: 1px solid #181818;
    margin-left: -10px;
    
}
.controls::placeholder{
    color: white;
    text-shadow: #181818 1px 2px;
}
.form-register p {
    height: 40px;
    text-align: center;
    
}
.form-register p input {
    margin-right: 10px;
}
.form-register button {
    width: 100%;
    border: none;
    background: linear-gradient(56deg, rgba(0,57,173,1) 71%, rgba(0,146,153,1) 100%);
    padding: 12px;
    margin: 16px 0;
    font-size: 16px;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.5s;
}
.title-form {
    text-shadow: 1px 2px #181818;
}
.form-register button:hover {
    background-color: #1d459b;
}




/*ACCESORIOS*/
.banner-principal-accesorios {
    background-image: url(../IMG/banner-accesorios.jpeg);
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    height: 400px;
    margin-top: 80px;
    margin-bottom: 30px;
}
.arrow {
    text-align: center;
    margin-top: 20px;
}
.arrow i{
    margin-right:35px;
}















/*RESPONSIVE*/











@media (min-width: 320px) and (max-width:480px)
{
 .nav {
    gap: 20px;
 }

 .container_nav li{
    display: inline;
    padding: 15px;
    font-size: 15px;
}

.section-title {
    justify-self: center;
}


}
.dropdown {
    display: none;
}
.dropdown ul{
    display: none;
}

@media (max-width: 1380px)
{
    .container_nav {
        display: none;
    }
    .dropdown{
        display: block;
        margin-top: 15px;
       position: relative;
        
    }

    .dropdown:hover ul{
        display: block;
      
    }
    .dropdown ul li{
        background-color: #181818;
    }
    .dropdown a{
        padding: 15px;
        margin-bottom: 5px;
        padding-bottom: 20px;
        color: white;
       
    }
    .dropdown a:hover {
        color: #ffc107;
    }

    .dropdown img:hover {
        cursor: pointer;
    }   
    .logo-carrito img{
        margin-right: 100px;
    }
    .nav{
        display: flex;
        justify-content: space-between;
    }
    .card-footer .footer-title-metodos {
        text-align: center;
        padding-top: 30px;
        font-size: 40px;
    }
}
.card-footer .footer-title-metodos h4{
    font-size: 30px;
}
@media (max-width:4000px){
    .card-footer .footer-title-metodos {
        text-align: center;
        padding-top: 30px;
        font-size: 30px;
    }
}

@media (min-width:768px) and (max-width:1380px){

    body {
        contain: content;
    }
}
@media (min-width: 300px)
{
    body {
        contain: content;
    }
}
@media (max-width:700px)
{
    .search-nav input{
        padding: 0;
    }
}
@media (max-width:560px)
{
    .logo-carrito{
        display: none;
    }
    .search-nav{
        margin-right: 5px;
    }
}
@media (max-width:850px) {
    .img-new-products img{
     width: 800px;
    }
} 
@media (max-width:800px) {
    .img-new-products img{
     width: 600px;
     transform: scale(100%, 100%);
    }
} 
@media (max-width:615px){
    .title-new-products h2{
        font-size: 40px;
    }
    .text-new-products p{
        font-size: 20px;
    }
}


@media( min-width:300) and (max-width:320)
{
    .search-nav {
        display: none;
    }
}
@media (max-width:299px){
    body {
        contain: content;
    }
    .footer-title-metodos h4{
        font-size:7px;
        margin-right: 55px;
        margin-left: 0px;
    }
    .img-footer img{
        margin-right: 40px;
        left: -40px;
        width: 250px;
    }
}
@media (max-width:2560px)
{
.dropdown ul li input {
    display: none;
}
}
@media (max-width:319px)
{
.search-nav input {
    display: none;
}
.dropdown ul li input {
    display: block;
}
.dropdown {
    position: relative;
    left: -40px;
}
}
@media (max-width:700px)
{
    .img-card-valorant img{
        width: 450px;
        height: 450px;
    }
    .img-card-valorant img:hover{
        width: 500px;
        height: 500px;
    }
}
@media (max-width:572px)
{
    .img-card-valorant img{
        width: 350px;
        height: 350px;
    }
    .img-card-valorant img:hover{
        width: 400px;
        height: 400px;
    }
}
@media (max-width:480px)
{
    .img-card-valorant img{
        width: 250px;
        height: 250px;
    }
    .img-card-valorant img:hover{
        width: 300px;
        height: 300px;
    }
}
@media (max-width:700px)
{
    .img-card-valorant img{
        width: 150px;
        height:150px;
    }
    .img-card-valorant img:hover{
        width: 200px;
        height: 200px;
    }
}
@media (max-width:399px)
{
    .form-register{
        position: relative;
        top: 0px;
        width: 300px;
        background:linear-gradient(56deg, rgba(0, 68, 204, 0.600) 46%, rgba(0, 178, 187, 0.400) 100%);;
        padding: 30px;
        margin: auto;
        border-radius: 4px;
        color: white;
    }
}
@media (max-width:299px)
{
    .form-register{
        position: relative;
        top: 0px;
        width: 240px;
        background:linear-gradient(56deg, rgba(0, 68, 204, 0.600) 46%, rgba(0, 178, 187, 0.400) 100%);;
        margin: auto;
        border-radius: 4px;
        color: white;
    }
    .form-register p {
        height: 70px;
        text-align: center;
        
    }

}
@media (max-width:991px){
    .carousel-caption h4{
        display: none;
    }
    .carousel-caption p{
        display: none;
    }
}
@media (max-width:991px){
    .carousel-caption button{
        display: none;
    }
    .carousel-caption{
        border-radius: 0px;
        background-color: transparent;
    }
}
@media (max-width:275px){
    .img-card img {
        width: 150px;
        transition: all 0.5s;
    }
    .img-card img:hover{
        width: 170px;
    } 
}
@media (max-width:300px){
    .footer-title-metodos h4{
        font-size: 17px;
        margin-left: 60px;
    }
}
i {
    
    width: 5px;
    margin-left: 40px;
}
@media (max-width:330px){
    .section-title h2{
        font-size: 40px;
    }
}
@media (max-width:260px){
    .section-title h2{
        font-size: 35px;
    }
}
@media (max-width: 300px) {
    .text-new-products p{
        display: none;
    }
}
