/*MIXIN*/
@mixin btn-card {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 10px;
    padding: 6px;
    text-decoration: none;
    transition: background-color 0.5s;
}
.btn-card:hover {
    color: white;
} 
.btn-card--primary {
    @extend btn-card;
    background-color: #0080FF;
}
.btn-card--yellow {
    @extend btn-card;
    background-color: #118600;
    
}
.btn-card--primary:hover {
    background-color: #0056ac;
    color: white;
}
.btn-card--yellow:hover {
    background-color: #0e6800;
    color: white;
}
/*MAP*/
$formulario: (
    form: linear-gradient(56deg, rgba(0, 68, 204, 0.300) 46%, rgba(56, 165, 255, 0.3) 100%),
    controls: rgba(0, 68, 204, 0.150)
);
.controls {
    background-color: map-get($formulario, controls);
}
.form-register {
    background: map-get($formulario, form);
}

